$sidebar-bg-color: #FFFFFF !default;
$sidebar-color: #000000 !default;
$sidebar-width: 250px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #ff4444 !default;
$submenu-bg-color: #FFFFFF !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';

#toMakeFixed {
    position : fixed;
}